<app-sidebar currentPage="hotels"></app-sidebar>
<div style="position: relative; text-align: center; color: white;">
  <div style="position: absolute;  top: 8px;  right: 16px;">
    <app-navbar></app-navbar>
  </div>
  <img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>
</div>
<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px; position: absolute">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Hotels</h1>
  <button *ngIf="userRole!=='ROLE_ADMIN'" class="create-certificate" mat-raised-button
          (click)="openNewCertificateDialog()">
    New Certificate Request
  </button>
  <app-users *ngIf="userRole==='ROLE_ADMIN'"></app-users>
</div>
