<mat-card style="padding: 10px; margin-bottom: 20px">
  <div style="display: flex; flex-direction: column">
    <div style="display: flex; flex-direction: row; text-align: center; justify-content: space-evenly;">
      <div>
        <p>{{startTime}}</p>
        <p>{{startLocation}}</p>
      </div>
      <div>
        <p style="border-bottom: 1px solid #ccc; ">{{totalTime}}h</p>
        <p>{{numberOfStops}} transfer</p>
      </div>
      <div>
        <p>{{endTime}}</p>
        <p>{{endLocation}}</p>
      </div>
      <div>
        <button style="font-size: 12px; margin-top: 10px; width: 100%" mat-raised-button
                (click)="showFlightDialog()" color="primary">
          Show flight
        </button>
      </div>
    </div>

  </div>


</mat-card>
