<h1>Reserve flight</h1>

<div style="display: flex; justify-content: space-between;">
  <h2>Base price:</h2>  <label><b>{{totalBasePrice}}</b></label>
</div>
<div style="display: flex; justify-content: space-between;">
  <h2>Additional services price:</h2>  <label><b>{{totalAdditionalServicePrice}}</b></label>
</div>
<div style="display: flex; justify-content: space-between;">
  <h2>Loyalty program discount ({{loyaltyStatus}}):</h2>  <label><b>{{loyaltyProgramDiscount * 100}}%</b></label>
</div>
<hr>
<div style="display: flex; justify-content: space-between;">
  <h2>Total:</h2>  <label><b>{{totalPrice}}</b></label>
</div>

<button style="font-size: 18px; margin-bottom: 20px; width: 100%" mat-raised-button
        (click)="reserve()" color="primary">
  Reserve
</button>
