<div style="padding: 20px">
  <mat-stepper labelPosition="bottom" #stepper>
    <mat-step>
      <mat-card *ngFor="let route of routePrices" style="padding: 10px; margin-bottom: 20px">
        <div style="display: flex; flex-direction: column; border-bottom: 1px solid #ccc;">
          <div style="display: flex; flex-direction: row; text-align: center; justify-content: space-evenly;">
            <div>
              <p>{{displayDate(route.flight.departureTime)}}</p>
              <h1>{{route.flight.departureAirport.code}}</h1>
            </div>
            <div style="align-items: center;">
              <p
                style="border-bottom: 1px solid #ccc; ">{{calculateTime(route.flight.arrivalTime, route.flight.departureTime)}}
                h</p>
            </div>
            <div>
              <p>{{displayDate(route.flight.arrivalTime)}}</p>
              <h1>{{route.flight.arrivalAirport.code}}</h1>
            </div>
          </div>
        </div>

        <div>
          <h1>Price</h1>
          <p>Seat price: {{route.basePrice.seatPrice | number : '1.2-2'}}</p>
          <p>Number of adults: {{route.basePrice.numberOfAdults}}</p>
          <p>Number of children: {{route.basePrice.numberOfChildren}}</p>
          <p *ngIf="route.basePrice.numberOfChildren === 0">Children
            discount: {{route.basePrice.childrenDiscount * route.basePrice.seatPrice | number : '1.2-2'}}</p>
          <p *ngIf="route.basePrice.numberOfChildren !== 0">Children
            discount: {{route.basePrice.childrenDiscount / route.basePrice.numberOfChildren * route.basePrice.seatPrice | number : '1.2-2'}}</p>
          <p>Discount for number of tickets: {{route.basePrice.discountForNumberOfPassengers | number : '1.2-2'}}</p>
          <p>Total price: <b>{{route.basePrice.totalPrice | number : '1.2-2'}}</b></p>
        </div>
      </mat-card>
      <div style="float: right">
        <p><b>Total price: {{totalPrice | number : '1.2-2'}}</b></p>
      </div>
    </mat-step>
    <mat-step>
      <h1>Additional services</h1>
      <p>Number of
        passengers: {{routePrices[0].basePrice.numberOfChildren + routePrices[0].basePrice.numberOfAdults}}</p>
      <p>Select if you want some specific seats. Those seats will be charged additionally.</p>
      <span>
        <mat-form-field>
          <mat-label>Seats</mat-label>
          <mat-select [formControl]="seats" multiple>
            <mat-select-trigger>
              {{seats.value?.[0] || ''}}
              <span *ngIf="(seats.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(seats.value?.length || 0) - 1}} {{seats.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let seat of seatList" [value]="seat">{{seat}}</mat-option>
          </mat-select>
        </mat-form-field>
        <label style="margin-left: 20px">Price: {{100}}</label>
      </span>
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Total luggage weight for all passengers</mat-label>
          <input matInput type="number" [(ngModel)]="totalWeight" min="0">
        </mat-form-field>
      </div>
      <section>
        <mat-checkbox [color]="'primary'" class="example-margin" [(ngModel)]="priorityBoarding">Priority boarding</mat-checkbox>
      </section>

    </mat-step>
    <mat-step></mat-step>
  </mat-stepper>
  <!--    <button style="font-size: 12px; margin-top: 20px; width: 100%" mat-raised-button-->
  <!--            (click)="openAdditionalExpensesDialog()" color="primary">-->
  <!--      Order flight-->
  <!--    </button>-->

</div>
